.home-body {
    padding-top: 76px;

    padding-bottom: 65px;

    @media screen and (min-width: 576px) {
        padding-bottom: 0;
    }
}

.home-rightbar {
    position: sticky;
    top: 76px;
    height: calc(100vh - 76px);
    border-left: 1px solid rgba(145, 142, 142, 0.67);
    border-top: 1px solid rgba(145, 142, 142, 0.67);
}

.home-layout-body {
    min-height: calc(100vh - 76px - 65px);

    @media screen and (min-width: 576px) {
        min-height: calc(100vh - 76px);
    }
}

.menu-fix-width {
    min-width: 350px;
}

.menu-left-border {
    border-left: 1px solid rgba(145, 142, 142, 0.67);
}