.hub-post {
    //max-height: calc(100vh - 76px - 65px);

    @media screen and (min-width: 576px) {
        max-height: calc(100vh - 76px);
    }

    height: 100%;
    display: flex;
    flex-direction: column;

    button {
        width: 248px;

        @media screen and (min-width: 576px) {
            margin: revert;
            width: 200px;
        }
    }

    .form-control {
        background-color: rgba(154, 112, 222, 0.17);
    }

    // Flex grow 1 to make the text editor go to bottom of page
    .rich-text-editor {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .ql-container {
            max-height: 450px;

            @media screen and (min-width: 576px) {
                max-height: none;
            }
        }
    }

    .hub-post-btn {
        padding: 0.5rem;
        width: 200px;
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        svg {
            font-size: 20px;
        }
    }


}