.search-posts{
    display: flex;
    flex-direction: column;
    //gap: 20px;
  
    .postContainer {
      border-bottom: 1px solid rgba(145, 142, 142, 0.67);
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 12px;
        margin-left: 8px;
    }

    p.search-count {
        padding-bottom: 12px;
        margin-left: 8px;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(145, 142, 142, 0.67);

    }
  }