.mobile-nav {

    border-top: 1px solid rgba(145, 142, 142, 0.67);

    .mobile-links {
        display: flex;
        align-items: center;
    }

    .mobile-items {
        width: 30px;
        display: flex;
        flex-direction: column;
    }

    .mobile-create {
        width: 40px;
    }
}