.home {
    .home-header {
        position: sticky;
        top: 76px;
        z-index: 1;
        background-color: #f6f2fd;
        //border-top: 1px solid rgba(145, 142, 142, 0.67);
        --bs-nav-tabs-link-active-border-color: var(--bs-border-color);
        .nav-link {
            color: grey;
        }
        .nav-link.active {
            text-decoration: underline;
        }

        .nav-link:not(.active):hover {
            background-color: #efe8fd;
        }


        .nav-item {
            width: 50%;
            button {
                border-radius: 0;
                width: 100%;
                font-size: 1rem;
                --bs-nav-tabs-link-active-color: var(--HHPurple);

                @media screen and (min-width: 576px){
                    font-size: 1.4rem;
                    height: 60px;
                }
            }
        }
    }
}
