.m-form-label{
  width: 90%;
}

.m-auth-btn {
  height: 3.5rem;
}

.m-bg-img {
  top: 30%;
  min-width: 160%;
  z-index: -1;
}

@media (min-height: 800px) {
  .m-logo-row {
    margin-bottom: 10rem;
  }
}