.m-auth-container{
  position: relative;
  min-height: 100vh;
}

.m-auth-container::before {
  content: "";
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url("../../../assets/authentication/mobile/background.svg");
  background-position: center;
  background-size: cover;
}

.m-logo-row {
  margin-bottom: 5rem;
}

.m-form-label{
  width: 90%;
}

.m-auth-btn {
  height: 3.5rem;
}

.m-bg-img {
  top: 30%;
  min-width: 160%;
  z-index: -1;
}


@media (min-height: 800px) {
  .m-logo-row {
    margin-bottom: 10rem;
  }
}