
.market-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15%;
  padding:10px;
  background-color: white;
  width: 100%;
}

.store-filter{
  width: 100%;
  //border: 3px solid red;
}

.rating-stars{
  width: 25px;
  height: 25px;
  padding-right: 3px;
}

.drop-logo{
  width: 15px;
  height: 15px;
}
#button-menu:active{
  .drop-logo{
    transform: rotate(90deg);
  }
}

.menu-accordion .accordion-button[aria-expanded="true"]::after {
  transform: rotate(360deg);
}

.menu-accordion .accordion-button[aria-expanded="false"]::after {
  transform: rotate(270deg);
}

.menu-accordion .accordion-button::after {
  transition: transform 0.3s ease;
}
.menu-accordion {
  .accordion-item {
    .accordion-header {
      .accordion-button:not(.collapsed) {
        color: white;
      }
      .accordion-button {
        --bs-accordion-active-bg: #8e47ff;
      }
    }
  }
}

.menu-button{
  background-color: #8e47ff !important;
  color: white;
}
.hold-button{
  width: 90%;
}
.market-menu{
  max-height: calc(100vh - 76px);
  margin: 0;
  padding: 0;
}
.market-menu:hover{
  overflow-y: scroll;
}