:root {
    --HHPurple: #8e47ff
}

.post-toggle {
    .dropdown-toggle {
        white-space: normal;
        width: 248px;

        @media screen and (min-width: 576px) {
            width: 350px;
        }
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: var(--HHPurple);
    }

    .dropdown-menu {
        width: 248px;
        padding: 0.3rem;

        @media screen and (min-width: 576px) {
            width: 350px;
        }
    }

    .form-control {
        width: 95%;
    }
}