.m-hamburger{
    border: none;
    background: transparent;
    font-size: 35px;
}

.m-hamburger{
    display: flex;
    align-items: center;
}

.m-navbar-logo-wrapper {
    flex-grow: 1;
    text-align: center;
    margin-right: 2rem;
}