.comment-reply-btn {
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    svg {
        font-size: 20px;
    }
}

.reply-editor {
    max-height: 400px;
    // Flex grow 1 to make the text editor go to bottom of page
    .rich-text-editor {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}