
:root {
  --fnt-reg: black;
  --fnt-hover: #8e47ff;
}
.container-nav{
  width:100%;
  height: 25%;
}
.LinkColor{
  color: black;
  font-size: 1.5rem;
  // font-size: calc(1em + 1vw);
}
.LinkColor:hover{
  color: var(--fnt-hover);

}
@media screen and (max-width: 576px){
  .LinkColor{
    font-size: 1rem;
  }
}

.nav-size{
  width: 100%;
}

.selected-menu {
  color: var(--fnt-hover)
}